.productCard {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 300px;
	width: 300px;
	flex-wrap: nowrap;
	margin: 1rem 0 1rem 1rem;
	align-items: center;
	color: black;
	border-radius: 1rem;
}
