.cart {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.cart:hover {
	cursor: pointer;
	color: #e7ab79;
}

.cart a {
	text-decoration: none;
	color: white;
}

.cart a:hover {
	cursor: pointer;
	color: #e7ab79;
}
