.newRelease {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newRelease a {
	text-decoration: none;
	color: white;
}

.newRelease a:hover {
	cursor: pointer;
	color: #e7ab79;
}
