.todaysDeal {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todaysDeal a {
	text-decoration: none;
	color: white;
}

.todaysDeal a:hover {
	cursor: pointer;
	color: #e7ab79;
}
