.sideBar {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	position: absolute;
}

.sideBarNav {
	flex: 2;
}

.overlay {
	flex: 5;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
	z-index: 1; /* ensure it's on top */
}
