.sideBar {
	height: 100%;
	width: 300px;
	display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 1;
	top: 0;
}

.sideBarContent {
	background-color: #fcf8e8;
	flex: 4;
	padding: 5rem 1rem 1rem 1rem;
}

.hideSideBar {
	flex: 1;
	margin: 5rem 0 0 1rem;
}

.btn {
	border: none;
	background-color: transparent;
}
